<!DOCTYPE html>
<html ng-app="app">
    <head>
        <base href="/">
        <title>MMM - Sample</title>

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/tether-theme-arrows-dark.css">
        <link rel="stylesheet" href="/styles/tether-theme-arrows-dark.min.css">
        <link rel="stylesheet" href="/styles/tether-theme-arrows.css">
        <link rel="stylesheet" href="/styles/tether-theme-arrows.min.css">
        <link rel="stylesheet" href="/styles/tether-theme-basic.css">
        <link rel="stylesheet" href="/styles/tether-theme-basic.min.css">
        <link rel="stylesheet" href="/styles/tether.css">
        <link rel="stylesheet" href="/styles/tether.min.css">
        <!--STYLES END-->

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/tether.min.js"></script>
        <script src="/js/dependencies/jquery.min.js"></script>
        <script src="/js/dependencies/bootstrap.min.js"></script>
        <script src="/js/dependencies/angular.min.js"></script>
        <script src="/js/dependencies/angular-route.min.js"></script>
        <script src="/angular/node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
        <script src="/angular/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
        <script src="/angular/node_modules/angular-middleware/dist/angular-middleware.min.js"></script>
        <script src="/angular/node_modules/angular-utils-pagination/dirPagination.js"></script>
        <script src="/angular/app/main.js"></script>
        <script src="/angular/app/services/AuthService.js"></script>
        <script src="/angular/app/services/SessionService.js"></script>
        <script src="/angular/app/services/UserService.js"></script>
        <script src="/angular/app/directives/AuthDirective.js"></script>
        <script src="/angular/app/directives/Sidebar.js"></script>
        <script src="/angular/app/controllers/AccountController.js"></script>
        <script src="/angular/app/controllers/AuthController.js"></script>
        <script src="/angular/app/controllers/BankingController.js"></script>
        <script src="/angular/app/controllers/CustomerController.js"></script>
        <script src="/angular/app/controllers/PackageController.js"></script>
        <script src="/angular/app/controllers/PaymentController.js"></script>
        <script src="/angular/app/controllers/UserController.js"></script>
        <!--SCRIPTS END-->


    </head>
    <body>
        <ng-view></ng-view>
    </body>
</html>
