<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-3" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">MMM</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto" >
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/public/how-it-works">How It Works</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/public/about-us">About Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/public/contact-us">Contact us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/public/authentication/sign-up">Sign Up</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/public/authentication/login">Login</a>
                </li>

            </ul>
        </div>
    </nav>
</header>
