<admin-header user="session"></admin-header>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <!-- TODO: display a list of admins on the system excluding the super administrator -->
            <div class="card">
                <div class="card-block">
                    <div class="card-title text-center">Administrator(s) Listing</div>
                    <a href="/admin/profile/admin" class="btn btn-sm btn-outline-info mb-3 text-uppercase">create admin</a>

                    <table class="table table-striped" ng-init="loadAdmins();">
                        <thead>
                            <th width="10%">#</th>
                            <th>Admin Username</th>
                            <th width="15%"> <i class="fa fa-cogs"></i> </th>
                        </thead>
                        <tbody>
                            <tr dir-paginate="admin in admins | itemsPerPage: 20">
                                <td>1</td>
                                <td> <a href="/admin/profile/admin/{{ admin.id }}" ng-click="setSelectedAdmin(admin);" ng-bind="admin.username"></a> </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash-o" ng-click="deleteAdmin(admin);"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
