<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- TODO: insert side panel -->
        </div>
        <div class="col-md-10">
            <!-- TODO: display a list of packages on the system -->
            <div class="card">
                <div class="card-block">
                    <div class="card-title text-center">Packages Listing</div>
                    <a href="/admin/profile/package" class="btn btn-sm btn-outline-primary mb-3 text-uppercase">create Package</a>

                    <table class="table table-striped" ng-init="loadPackages();">
                        <thead>
                            <th width="10%">#</th>
                            <th>Package Name</th>
                            <th width="25%">Package Amount (NGN)</th>
                            <th width="5%"> <i class="glyphicon glyphicon-cogs"></i> </th>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in packages | itemsPerPage: 20">
                                <td>1</td>
                                <td> <a href="/admin/profile/package/{{x.id}}">package name</a> </td>
                                <td>3000.00</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-info">
                                        <i class="glyphicon glyphicon-trash" ng-click="delete(x);"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
